
body {
    padding-left: 20px;
}

h1 {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 30pt;
}

h2 {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 25pt;
}

h3 {
    font-size: 16pt;
}

p {
    font-size: 14pt;
}

br,button{
    font-size: 10pt;
}

th {
    font-size: 14pt;
}

td {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 14pt;
}


